<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysClassMapper">
    
    <resultMap type="SysClass" id="SysClassResult">
        <result property="id"    column="id"    />
        <result property="gradeYear"    column="grade_year"    />
        <result property="classCode"    column="class_code"    />
        <result property="className"    column="class_name"    />
        <result property="classType"    column="class_type"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="studentCount"    column="student_count"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysClassVo">
        select id, grade_year, class_code, class_name, class_type, teacher_id, teacher_name, student_count, status, create_by, create_time, update_by, update_time from sys_class
    </sql>

    <select id="selectSysClassList" parameterType="SysClass" resultMap="SysClassResult">
        <include refid="selectSysClassVo"/>
        <where>  
            <if test="gradeYear != null  and gradeYear != ''"> and grade_year = #{gradeYear}</if>
            <if test="classCode != null  and classCode != ''"> and class_code = #{classCode}</if>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="classType != null  and classType != ''"> and class_type = #{classType}</if>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="studentCount != null "> and student_count = #{studentCount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysClassById" parameterType="Long" resultMap="SysClassResult">
        <include refid="selectSysClassVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysClass" parameterType="SysClass" useGeneratedKeys="true" keyProperty="id">
        insert into sys_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gradeYear != null and gradeYear != ''">grade_year,</if>
            <if test="classCode != null and classCode != ''">class_code,</if>
            <if test="className != null and className != ''">class_name,</if>
            <if test="classType != null and classType != ''">class_type,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="studentCount != null">student_count,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gradeYear != null and gradeYear != ''">#{gradeYear},</if>
            <if test="classCode != null and classCode != ''">#{classCode},</if>
            <if test="className != null and className != ''">#{className},</if>
            <if test="classType != null and classType != ''">#{classType},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="studentCount != null">#{studentCount},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysClass" parameterType="SysClass">
        update sys_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="gradeYear != null and gradeYear != ''">grade_year = #{gradeYear},</if>
            <if test="classCode != null and classCode != ''">class_code = #{classCode},</if>
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="classType != null and classType != ''">class_type = #{classType},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="studentCount != null">student_count = #{studentCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysClassById" parameterType="Long">
        delete from sys_class where id = #{id}
    </delete>

    <delete id="deleteSysClassByIds" parameterType="String">
        delete from sys_class where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>