<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPurchaseCheckMapper">
    
    <resultMap type="SysPurchaseCheck" id="PurchaseCheckResult">
        <result property="checkId" column="check_id"/>
        <result property="purchaseId" column="purchase_id"/>
        <result property="purchaseNo" column="purchase_no"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="checkResult" column="check_result"/>
        <result property="checkRemark" column="check_remark"/>
        <result property="checkBy" column="check_by"/>
        <result property="checkTime" column="check_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectPurchaseCheckList" parameterType="PurchaseCheck" resultMap="PurchaseCheckResult">
        select * from sys_purchase_check
        <where>
            <if test="purchaseNo != null">and purchase_no like concat('%',#{purchaseNo},'%')</if>
            <if test="supplierName != null">and supplier_name like concat('%',#{supplierName},'%')</if>
            <if test="checkResult != null">and check_result = #{checkResult}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectPurchaseCheckById" parameterType="Long" resultMap="PurchaseCheckResult">
        select * from sys_purchase_check where check_id = #{checkId}
    </select>

    <insert id="insertPurchaseCheck" parameterType="PurchaseCheck">
        insert into sys_purchase_check
        (purchase_id, purchase_no, supplier_id, supplier_name, check_result, check_remark,
         check_by, check_time, create_by, create_time, update_by, update_time)
        values
        (#{purchaseId}, #{purchaseNo}, #{supplierId}, #{supplierName}, #{checkResult}, #{checkRemark},
         #{checkBy}, #{checkTime}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <update id="updatePurchaseCheck" parameterType="PurchaseCheck">
        update sys_purchase_check
        <set>
            <if test="checkResult != null">check_result = #{checkResult},</if>
            <if test="checkRemark != null">check_remark = #{checkRemark},</if>
            <if test="checkBy != null">check_by = #{checkBy},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where check_id = #{checkId}
    </update>

    <!-- 明细 -->
    <insert id="insertPurchaseCheckItems">
        insert into sys_purchase_check_item
        (check_id, food_id, food_name, plan_qty, real_qty,
         expire_check, pesticide_check, appearance_check, item_result)
        values
        <foreach collection="list" item="item" separator=",">
            (#{checkId}, #{item.foodId}, #{item.foodName}, #{item.planQty}, #{item.realQty},
             #{item.expireCheck}, #{item.pesticideCheck}, #{item.appearanceCheck}, #{item.itemResult})
        </foreach>
    </insert>

    <select id="selectItemsByCheckId" parameterType="Long" resultType="PurchaseCheckItem">
        select * from sys_purchase_check_item where check_id = #{checkId}
    </select>

    <delete id="deleteItemsByCheckId" parameterType="Long">
        delete from sys_purchase_check_item where check_id = #{checkId}
    </delete>
</mapper>