<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPurchaseMapper">
    
    <resultMap type="com.ruoyi.system.domain.vo.SysPurchaseVo" id="SysPurchaseResult">
        <result property="id"    column="id"    />
        <result property="foodName"    column="food_name"    />
        <result property="specification"    column="specification"    />
        <result property="purchaseQuantity"    column="purchase_quantity"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="purchaseBudget"    column="purchase_budget"    />
        <result property="purchaseStatus"    column="purchase_status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysPurchaseVo">
        select sp.id, sp.food_name, sp.specification, sp.purchase_quantity, sp.supplier_id, ss.supplier_name, sp.purchase_budget, sp.purchase_status, sp.remark, sp.create_by, sp.create_time, sp.update_by, sp.update_time
        from sys_purchase sp
        left join sys_supplier ss on ss.id = sp.supplier_id
    </sql>

    <select id="selectSysPurchaseList" parameterType="SysPurchase" resultMap="SysPurchaseResult">
        <include refid="selectSysPurchaseVo"/>
        <where>  
            <if test="foodName != null  and foodName != ''"> and sp.food_name like concat('%', #{foodName}, '%')</if>
            <if test="specification != null  and specification != ''"> and sp.specification = #{specification}</if>
            <if test="purchaseQuantity != null "> and sp.purchase_quantity = #{purchaseQuantity}</if>
            <if test="supplierName != null  and supplierName != ''"> and ss.supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="purchaseBudget != null "> and sp.purchase_budget = #{purchaseBudget}</if>
            <if test="purchaseStatus != null  and purchaseStatus != ''"> and sp.purchase_status = #{purchaseStatus}</if>
        </where>
    </select>
    
    <select id="selectSysPurchaseById" parameterType="Long" resultMap="SysPurchaseResult">
        <include refid="selectSysPurchaseVo"/>
        where sp.id = #{id}
    </select>

    <insert id="insertSysPurchase" parameterType="SysPurchase" useGeneratedKeys="true" keyProperty="id">
        insert into sys_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">food_name,</if>
            <if test="specification != null">specification,</if>
            <if test="purchaseQuantity != null">purchase_quantity,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="purchaseBudget != null">purchase_budget,</if>
            <if test="purchaseStatus != null">purchase_status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">#{foodName},</if>
            <if test="specification != null">#{specification},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="purchaseBudget != null">#{purchaseBudget},</if>
            <if test="purchaseStatus != null">#{purchaseStatus},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysPurchase" parameterType="SysPurchase">
        update sys_purchase
        <trim prefix="SET" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">food_name = #{foodName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="purchaseQuantity != null">purchase_quantity = #{purchaseQuantity},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="purchaseBudget != null">purchase_budget = #{purchaseBudget},</if>
            <if test="purchaseStatus != null">purchase_status = #{purchaseStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysPurchaseById" parameterType="Long">
        delete from sys_purchase where id = #{id}
    </delete>

    <delete id="deleteSysPurchaseByIds" parameterType="String">
        delete from sys_purchase where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>