<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPurchaseCheckMapper">
    
    <resultMap type="SysPurchaseCheck" id="SysPurchaseCheckResult">
        <result property="id"    column="id"    />
        <result property="purchaseId"    column="purchase_id"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="checkResult"    column="check_result"    />
        <result property="checkVoucher"    column="check_voucher"    />
        <result property="createAbnormal"    column="create_abnormal"    />
        <result property="checkBy"    column="check_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSysPurchaseCheckVo">
        select id, purchase_id, check_status, check_result, check_voucher, create_abnormal, check_by, create_time from sys_purchase_check
    </sql>

    <select id="selectSysPurchaseCheckList" parameterType="SysPurchaseCheck" resultMap="SysPurchaseCheckResult">
        <include refid="selectSysPurchaseCheckVo"/>
        <where>  
            <if test="purchaseId != null "> and purchase_id = #{purchaseId}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and check_status = #{checkStatus}</if>
            <if test="checkResult != null  and checkResult != ''"> and check_result = #{checkResult}</if>
            <if test="checkVoucher != null  and checkVoucher != ''"> and check_voucher = #{checkVoucher}</if>
            <if test="createAbnormal != null  and createAbnormal != ''"> and create_abnormal = #{createAbnormal}</if>
            <if test="checkBy != null  and checkBy != ''"> and check_by = #{checkBy}</if>
        </where>
    </select>
    
    <select id="selectSysPurchaseCheckById" parameterType="Long" resultMap="SysPurchaseCheckResult">
        <include refid="selectSysPurchaseCheckVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysPurchaseCheck" parameterType="SysPurchaseCheck" useGeneratedKeys="true" keyProperty="id">
        insert into sys_purchase_check
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchaseId != null">purchase_id,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="checkResult != null">check_result,</if>
            <if test="checkVoucher != null">check_voucher,</if>
            <if test="createAbnormal != null">create_abnormal,</if>
            <if test="checkBy != null">check_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchaseId != null">#{purchaseId},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="checkResult != null">#{checkResult},</if>
            <if test="checkVoucher != null">#{checkVoucher},</if>
            <if test="createAbnormal != null">#{createAbnormal},</if>
            <if test="checkBy != null">#{checkBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysPurchaseCheck" parameterType="SysPurchaseCheck">
        update sys_purchase_check
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaseId != null">purchase_id = #{purchaseId},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="checkResult != null">check_result = #{checkResult},</if>
            <if test="checkVoucher != null">check_voucher = #{checkVoucher},</if>
            <if test="createAbnormal != null">create_abnormal = #{createAbnormal},</if>
            <if test="checkBy != null">check_by = #{checkBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysPurchaseCheckById" parameterType="Long">
        delete from sys_purchase_check where id = #{id}
    </delete>

    <delete id="deleteSysPurchaseCheckByIds" parameterType="String">
        delete from sys_purchase_check where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>